doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        title The title!
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width')
        //link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='css/style.css')

        meta(name='description', content="")
        meta(property='og:title', content='')
        meta(property='og:site_name', content='')
        meta(property='og:description', content="")
        meta(property='og:url', content='')
        meta(property='og:image', content='')
        meta(property='og:type', content='website')
        meta(property='og:locale', content='uk_UA')
        //-meta(property='og:locale:alternate', content='uk_UA')
        //-meta(property='fb:app_id', content='')
        meta(property='vk:image', content='')
        //-meta(property='vk:app_id', content='')

        script(src="vendor/jquery/dist/jquery.min.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js")

        script(src="js/modernizr.js")
        script(src="js/main.js")


    body
        block header
            include ../_includes/header.jade
        block content

        block footer
            include ../_includes/footer.jade
