section.main
    .wrap
        .text
            h1
                | Frontend starter
                br
                span Kit!
            p.
                Стартер кит для фронтенд разработчика



