section.main

    .logo
    h1 Стартер кит для фронтенд разработчика

    div.desc Базовый набор инструментов для быстрого старта:

    ul
        li
            a(href='http://bower.io/') Bower
        li
            a(href='https://ru.wikipedia.org/wiki/Sass') Sass
        li
            a(href='http://coffeescript.org/') CoffeeScript
        li
            a(href='http://naltatis.github.io/jade-syntax-docs/') Jade
        li
            a(href='https://chrome.google.com/webstore/detail/livereload/jnihajbhpnppcggbcgedagnkighmdlei?hl=ru') Live Reload
        li
            span Servers (web + api)

